[Unit]
Description=Monitora continuamente o OpenVPN da Pizzaria

[Timer]
OnBootSec=10s
OnUnitActiveSec=15s
AccuracySec=1s
Persistent=true
Unit=pizzaria-vpn-watchdog.service

[Install]
WantedBy=timers.target
